VITE_FIREBASE_API_KEY=AIzaSyAoVwChZo9NEywGeSrdUU_S3vGdVteS9VU
VITE_FIREBASE_AUTH_DOMAIN=wattwise-2e16b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wattwise-2e16b
VITE_FIREBASE_STORAGE_BUCKET=wattwise-2e16b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=138645232962
VITE_FIREBASE_APP_ID=1:138645232962:web:caa719066978cb0efd3cdb
VITE_FIREBASE_MEASUREMENT_ID=G-72MYVRBS3W